<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConexaoBD"
             connectionString="Server=Slocalhost;Database=Helpbox;User ID=micaiasadmL;Password=Monteiro140;Encrypt=False;"
             providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>

	<startup>
	</startup>
</configuration>