<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConexaoBD"
			 connectionString="Server=tcp:helpbox.database.windows.net,1433;Database=Helpbox;User ID=micaiasadm;Password=Monteiro140;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
			 providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>

	<startup>
	</startup>
</configuration>